{% comment %} 1. admin_job_review.html {% endcomment %}
{% load static %}
{% block body %}
{% include 'navigation.html' %}
<center><h2 style="background-color: #deb887">Pending Jobs for Review</h2></center>
<table class="table table-hover container "id="example" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Type</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for job in data %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.company }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.jobtype }}</td>
            <td>{{ job.salary }}</td>
            <td><a href="{% url 'change_job_status' job.id %}" class="btn btn-success btn-sm">Change Status</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
