{% load static %}

{% block body %}

{% include 'admin_nav.html'%}

  <br/>
    <center> <h3 style="background-color: #deb887"> View All Normal Users </h3></center>
  <br/>
<table class="table table-hover container "id="example" class="display">
   <thead>
       <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
          <th>Gender</th>
          <th>Countary</th>
          <th>State</th>
          <th>Experience</th>
          <th>Action</th>
        <tr/>
   </thead>
   <tbody>
       {% for i in data %}
           <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.user.first_name}} {{i.user.last_name}}</td>
              <td>{{i.user.username}}</td>
              <td>{{i.number}}</td>
              <td>{{i.gender}}</td>
              <td>{{i.countary}}</td>
              <td>{{i.state}}</td>
              <td>{{i.experience}}</td>
              <td><a href="{% url 'delete_user' i.id %}" class="btn btn-danger btn-sm" onclick="return confirm ('Are you sure ?.')">Delete</a></td>
           </tr>
       {% endfor %}
   </tbody>


</table>
{% endblock %}  